<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.myapplication">

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".translucentstatus.TranslucentStatusBarActivity"
                android:theme="@style/TranslucentStatusTheme" />

        <activity android:name=".customconstraintlayout.CustomConstraintLayoutHome" />
        <activity android:name=".measurementwidget.MeasurementWidgetActivity" />
        <activity android:name=".databinding.inversebindings.Custom2WayBindingActivity" />
        <activity android:name=".databinding.lists.ShoppingListActivity" />
        <activity
                android:name=".fullscreen.FullscreenActivity"
                android:theme="@style/FullScreenTheme" />
        <activity android:name=".kcaltrack.KcalTrackActivity" />
        <!--        <activity-->
        <!--                android:name=".transitions.TransitionActivityA"-->
        <!--                android:theme="@style/TransitionsTheme" />-->

        <activity
                android:name=".sharedelementtransition.SharedTransitionActivityA"
                android:theme="@style/SharedElementTransitionsTheme" />

        <activity
                android:name=".sharedelementtransition.SharedTransitionActivityB"
                android:theme="@style/SharedElementTransitionsTheme" />

        <activity
                android:name=".sharedelementtransition.SharedTransitionActivityC"
                android:theme="@style/SharedElementTransitionsTheme" />
        <activity android:name=".livedataevents.EventStreamActivity" />
        <activity android:name=".numberdecimal.NumberDecimalActivity" />

        <activity
                android:name=".transitions.TransitionActivityA"
                android:theme="@style/TransitionsTheme" />

        <activity
                android:name=".transitions.TransitionActivityB"
                android:theme="@style/TransitionsTheme" />

        <activity
                android:name=".transitions.TransitionActivityC"
                android:theme="@style/TransitionsTheme" />
        <activity android:name=".coroutines.exceptionhandler.CoroutinesExceptionHandlerActivity" />
    </application>

</manifest>